{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "constructor-super": "error",
    "curly": "error",
    "eqeqeq": "error",
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": "off",
    "no-const-assign": "error",
    "no-extra-semi": "error",
    "no-tabs": "error",
    "no-this-before-super": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "warn",
    "no-unused-vars": "error",
    "quotes": [
      "error",
      "single"
    ],
    "react/prop-types": ["warn",{ "ignore": ["dispatch", "intl"] }],
    "semi": [
      "error",
      "never"
    ],
    "semi-spacing": "error",
    "strict": [
      "error",
      "global"
    ],
    "valid-typeof": "error"
  }
}